.Sidebar_UsersListPanel {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 99%;
  background-color: #eaf0e9;
}

.Sidebar_UsersListPanel::-webkit-scrollbar {
  width: 5px;
}

.Sidebar_UsersListPanel::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
}

#plus__Bar{
  position: absolute;
  background-color: #198F85;
  left: 25%;
  bottom: 70px;
}

@media all and (max-width: 980px) {
  #plus__Bar{
      margin-left: 0px;
      left: 220px;
  }
}
